body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida sans', 'Lucida sans Regular', 'Lucida Sans Unocode', Geneva, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fae19d;
}

html, body {
  height: 100%;
}

.middle-container {
  height: 700px;
  width: 700px;
  background: linear-gradient(45deg,blue,  red, pink);
}

